doctype
html
    head
        title= title
        link(rel="stylesheet", href="style.css")
    body
        h1= message
        form(action="", method="post")
            input(
                type="text"
                name="choix"
                id="choix"
            )
            br
            input(
                type="submit"
                name="send"
                id="send"
            )

        p= response
        p= "Essai numéro " + count